@import "reset.css";
@import "variables.css";
@import "background.css";
@import "form.css";

* {
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100vh;
  background-color: black;
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.clock {
  font-size: 80px;
  font-weight: 600;
  margin-bottom: 20px;
}

.greeting {
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 25px;
}

.todo-list {
  font-size: 18px;
}

.quote {
  position: absolute;
  font-size: 20px;
  bottom: 0;
  margin-bottom: 10px;
}

.weather {
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px 10px;
}
